global
    log stdout format raw local0
    maxconn 50000

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend dns_in
    bind *:53
    default_backend hickory_dns

backend hickory_dns
    balance roundrobin
    option tcp-check
    server dns1 hickory-dns-1:5301 check send-proxy-v2 inter 5s fall 3 rise 2
    server dns2 hickory-dns-2:5301 check send-proxy-v2 inter 5s fall 3 rise 2
    server dns3 hickory-dns-3:5301 check send-proxy-v2 inter 5s fall 3 rise 2
